#sidebar
  #sidebar-menus
    background:rgba(255, 255, 255, 0.9)
    font-family: 'aqqxs', sans-serif
    /* 手机侧栏菜单展开 信息、头像位置调整*/
    .site-data
      margin-top: 0.5rem
      /* 分类等字体加粗 */
      .headline
        font-size: 0.875rem
      .length-num
        font-size: 0.8rem !important
    #sidebar-avatar
      margin-top: 0.2rem
      /* 作者名 */
      .author-info__name
        font-weight: 500
        font-size: 1.57em
      .avatar-img
        img
          width: 110px
          height: 110px
          border-radius: 70px
          transition: all 0.5s
    /* 手机侧栏菜单展开 follow_me按钮*/
    #card-info-btn
      display: block
      margin: 0.3rem 1rem 0 1rem
      background-color: var(--btn-bg)
      color: var(--btn-color)
      text-align: center
      line-height: 2.4
      overflow: hidden
      border-radius: 0.625rem
    /* 手机侧栏菜单展开 社交图标 */
    .menu-info-social-icons
      margin: 0.5rem 0 0 0
      .social-icon
        display: inline
        padding: 0 0.7rem 0 0.7rem